<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AspNet.Identity.DataAccess" version="2.1.0.6" targetFramework="net45" />
  <package id="AutoMapper" version="3.3.1" targetFramework="net45" />
  <package id="fastJSON" version="2.1.14.0" targetFramework="net45" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net45" />
  <package id="ImageLibrary" version="2.0.5" targetFramework="net45" />
  <package id="Kaliko.Logger" version="1.1.1" targetFramework="net45" />
  <package id="KalikoCMS.Core" version="1.0.1" targetFramework="net45" />
  <package id="KalikoCMS.Data.SQLite" version="1.0.1" targetFramework="net45" />
  <package id="KalikoCMS.Identity" version="1.0.1" targetFramework="net45" />
  <package id="KalikoCMS.Mvc" version="1.0.1" targetFramework="net45" />
  <package id="KalikoCMS.Search" version="1.0.0" targetFramework="net45" />
  <package id="Lucene.Net" version="3.0.3" targetFramework="net45" />
  <package id="Lucene.Net.Contrib" version="3.0.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.1.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.1.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Security.Cookies" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Security.OAuth" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="PagedList" version="1.17.0.0" targetFramework="net45" />
  <package id="PagedList.Mvc" version="4.5.0.0" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.97.0" targetFramework="net45" />
  <package id="Telerik.DataAccess.Core" version="2015.2.624.1" targetFramework="net45" />
</packages>