<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="siteSettings" type="KalikoCMS.Configuration.SiteSettings" />
    <section name="siteHosts" type="KalikoCMS.Configuration.SiteHostConfiguration" />
    <section name="loggers" type="Kaliko.Configuration.LoggersSection, Kaliko.Logger" />
    <section name="searchSettings" type="KalikoSearch.Configuration.SearchSettings" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"><assemblies>
        <add assembly="Telerik.OpenAccess, Version=2015.2.624.1, Culture=neutral, PublicKeyToken=7ce17eeaf1d59342" />
      </assemblies></compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <siteSettings adminPath="/Admin/" datastoreProvider="KalikoCMS.Data.StandardDataStore, KalikoCMS.Engine" startPageId="0db38ff3-20f3-4228-8b0b-da6e0bb84636" searchProvider="KalikoCMS.Search.KalikoSearchProvider, KalikoCMS.Search" />
  <siteHosts>
  	<sites>
  		<add name="*" language="en" />
  	</sites>
  </siteHosts>
  <loggers>
  	<fileLogger filename="|DataDirectory|cms-log-%yyyy%mm.txt" treshold="Major" />
  </loggers>
  <location path="Admin">
  	<!-- Denies access for users except admins by default, change roles to match your authentication scheme -->
  	<system.web>
  		<authorization>
  			<allow roles="WebAdmin" />
  			<deny users="*" />
  		</authorization>
  		<pages validateRequest="false" />
  		<httpRuntime requestValidationMode="2.0" />
  	</system.web>
  </location>
  <connectionStrings>
    <add name="KalikoCMS" connectionString="Data Source=|DataDirectory|kalikocms.db3;Version=3;" providerName="System.Data.SQLite" />
  </connectionStrings>
  <system.webServer>
    <modules>
      <add name="InitModule" type="KalikoCMS.Modules.InitModule, KalikoCMS.Engine" />
      <add name="ShortUrlModule" type="KalikoCMS.Modules.ShortUrlModule, KalikoCMS.Engine" />
      <add name="RequestModule" type="KalikoCMS.Mvc.RequestModule, KalikoCMS.Mvc" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.OpenAccess.35.Extensions" publicKeyToken="7ce17eeaf1d59342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2015.2.624.1" newVersion="2015.2.624.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.OpenAccess" publicKeyToken="7ce17eeaf1d59342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2015.2.624.1" newVersion="2015.2.624.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <searchSettings datastorePath="|DataDirectory|\SearchIndex" analyzer="KalikoSearch.Analyzers.SnowballAnalyzer, KalikoSearch" />
</configuration>
