
body { font-family: 'Open Sans', sans-serif; }

h1, h2, h3, h4, h5, h6 { font-family: 'Open Sans Condensed', sans-serif; font-weight: 600; }

.startpage h2 {  font-size: 36px; }

.navbar-search { padding-left: 50px; padding-right: 0;}

.startpage { background: #222222; color: #ffffff; }
.startpage .navbar { margin: 0; }
.startpage .jumbotron { background: transparent; padding: 60px 200px; text-align: center; }
.startpage .jumbotron p { margin: 40px 0; }

.center { text-align: center; }

.add-space { margin: 20px 0 60px; }

.flex-boxes { display: flex; }
.flex-boxes .col-lg-4 { padding-bottom: 40px; }
.flex-boxes .btn { position: absolute; bottom: 0; }

#carousel-jumbotron { min-height: 450px; background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.15) 0%, rgba(255,255,255,0) 100%); }

.preamble { font-size: 1.3em; font-weight: 300; }

#searchfield { margin: 50px 0; }

.search-highlight { font-weight: bold; }
#searchresults .url { color: #009900; }
#searchresults a { font-size: 1.2em; }

.products { padding: 0; }
.products li { padding: 5px 10px; border: 3px solid #e0e0e0; border-radius: 8px; margin-bottom: 10px; background: #f4f4f4; }
.products h2 { margin-top: 0; }
.left-menu { margin-top: 28px; }

.tags { background: #f4f4f4; padding: 5px;}